:root {
  --bottom-actions-height: 56px; /* 하단 버튼 모음 높이, 실제 값으로 조정 */
}

/* BottomSheet */
bottom-sheet {
  display: none;
}
input {
}
bottom-sheet[aria-hidden="true"] {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.customBottomsheet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999982;
  visibility: visible;
  transition: opacity 0.5s, visibility 0.5s;
}
.customBottomsheet._modal {
  justify-content: center;
}
.customBottomsheet .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999980;
  background: rgba(0, 0, 0, 0.5);
}
.customBottomsheet .sheet__wrapper {
  display: flex;
  flex-direction: column;
  z-index: 99999983;
  border-radius: 30px 30px 0 0;
  background: #fff;
  position: relative;
  overflow-y: hidden;
  --default-transitions: transform 0.5s, border-radius 0.5s;
  transition: var(--default-transitions);
  transform: translateY(0);
  max-height: 100vh;
  width: 100%;
}
.customBottomsheet._modal .sheet__wrapper {
  width: 40%;
  max-width: 500px;
  min-width: 400px;
  border-radius: 30px;
}
.customBottomsheet .sheet__wrapper .controls {
  display: flex;
  flex-direction: column;
  padding: 0 30px 20px;
}
.customBottomsheet .sheet__wrapper .controls .title__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
}
.customBottomsheet .sheet__wrapper .controls .title__wrapper .title {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
}
.customBottomsheet .sheet__wrapper:not(.not-selectable) {
  transition: var(--default-transitions), height 0.5s;
}
.customBottomsheet[aria-hidden="true"] .sheet__wrapper {
  transform: translateY(100%);
}
.customBottomsheet .draggable-area {
  display: flex;
  justify-content: center;
  max-width: 100%;
  margin: auto;
  padding: 12px;
  cursor: grab;
}
.customBottomsheet .draggable-thumb {
  width: 50px;
  height: 5px;
  background: #eeeeee;
  border-radius: 100px;
}
.customBottomsheet._modal .draggable-thumb {
  display: none;
}
.customBottomsheet .close-sheet {
  position: absolute;
  right: 0px;
  background: transparent;
  border: none;
  z-index: 9;
}
.customBottomsheet .close-sheet > i {
  font-size: 18px;
}
.customBottomsheet .content {
  padding: 0 30px 30px;
  padding-bottom: calc(
    env(safe-area-inset-bottom) + 30px + var(--bottom-actions-height)
  );
  height: 100%;
  overflow-y: auto;
  font-size: 14px;
}
@supports not (padding-bottom: env(safe-area-inset-bottom)) {
  .customBottomsheet .content {
    padding-bottom: calc(60px + var(--bottom-actions-height));
  }
}
.customBottomsheet .content img {
  max-width: 100% !important;
}
.customBottomsheet .sheet__wrapper .bottom-actions {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10; /* 다른 요소 위에 표시 */
  background-color: white; /* 배경색 설정 */
  display: flex;
  justify-content: space-around; /* 버튼 배치 방식 */
  padding: 10px 0; /* 패딩 설정 */
  border-top: 1px solid #eee; /* 경계선 (선택 사항) */
  border-radius: 0 0 30px 30px; /* 하단 모서리 둥글게 (선택 사항) */
}

.customBottomsheet._modal .sheet__wrapper .bottom-actions {
  border-radius: 0 0 30px 30px;
}

@media (min-width: 769px) {
  .customBottomsheet .sheet__wrapper.fullscreen {
    max-height: 75vh;
    border-radius: 30px;
  }
}
@media (max-width: 768px) {
  .customBottomsheet .sheet__wrapper.fullscreen {
    height: 100vh !important;
    border-radius: 0;
  }
  .customBottomsheet .sheet__wrapper .controls {
    padding: 0 20px 12px;
  }
  .customBottomsheet .content {
    padding: 0 20px 20px;
  }
  .customBottomsheet .sheet__wrapper.fullscreen .bottom-actions {
    border-radius: 0;
  }
}
/* HTML: <div class="tooltip">This is the same as #13 but with more control over the tail</div> */
.tooltip {
  color: #fff;
  font-size: 18px;
  max-width: 28ch;
  text-align: center;
}
.tooltip {
  /* tail dimension */
  --b: 2em; /* base */
  --h: 1.5em; /* height */

  --p: 94%; /* main position (0%:left 100%:right) */
  --x: -2em; /* tail position (relative to the main position). Can be percentage */
  --r: 1.2em; /* the radius */

  --_e: max(0%, -1 * var(--x) - var(--p), var(--x) + var(--p) - 100%);
  padding: 1em;
  border-radius: var(--r) var(--r) min(var(--r), 100% - var(--p) - var(--b) / 2)
    min(var(--r), var(--p) - var(--b) / 2) / var(--r);
  background: 50% 0 / calc(100% + 2 * var(--_e)) calc(100% + var(--h))
    linear-gradient(
      136deg,
      #ef00a4 2.8%,
      #f00 46.54%,
      #ff5700 75.7%,
      #ffa100 100%
    ); /* the gradient */
  position: relative;
  z-index: 0;
}
.tooltip:before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0 calc(-1 * var(--_e)) calc(-1 * var(--h));
  padding-inline: var(--_e);
  background-image: inherit;
  clip-path: polygon(
      50% 50%,
      clamp(var(--b), var(--p) + var(--b) / 2, 100%) calc(100% - var(--h)),
      calc(var(--p) + var(--x)) 100%,
      clamp(0%, var(--p) - var(--b) / 2, 100% - var(--b)) calc(100% - var(--h))
    )
    content-box;
}
